<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ImportAndExportExcelWithServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>userList</servlet-name>
    <servlet-class>web.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userList</servlet-name>
    <url-pattern>/userList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userDel</servlet-name>
    <servlet-class>web.UserDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userDel</servlet-name>
    <url-pattern>/userDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userInfo</servlet-name>
    <servlet-class>web.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userInfo</servlet-name>
    <url-pattern>/userInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userPreUpdate</servlet-name>
    <servlet-class>web.UserPreUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userPreUpdate</servlet-name>
    <url-pattern>/userPreUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userUpdate</servlet-name>
    <servlet-class>web.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userUpdate</servlet-name>
    <url-pattern>/userUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>importExcel</servlet-name>
    <servlet-class>web.UploadExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>importExcel</servlet-name>
    <url-pattern>/importExcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>exportExcel</servlet-name>
    <servlet-class>web.ExportExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportExcel</servlet-name>
    <url-pattern>/exportExcel</url-pattern>
  </servlet-mapping>
</web-app>